body{
    background:#ffffff;
    background-size:cover;
    font-family:sans-serif;
    width:85%;
    margin:auto;
}

.name_heading{
    background:url(images/background2.jpg) no-repeat;
    background-size:cover;
    color:#ffffff;
    margin:1% 0 2% 0;
    border-top-right-radius:20px;
    border-top-left-radius:20px; 
}

#nameSpace{
    padding:0 0 30px 40px;
    font-size:25px;
    width:auto;
    overflow:hidden;
}

header ul{
    list-style:none; 
    width:100%; 
    display:inline; 
}

header li{
    margin-right:5%;
}

#redirect{
    margin-left:80%;
    margin-top:-10.5%;
    margin-bottom:2%;
}

#redirect img{
    transition:0.5s;
}

#redirect img:hover{
    border-radius:20px;
    box-sizing:border-box;
    transform:scale(1.3, 1.3);
    transition:0.05s;
    border:2px solid #ffffff;
}

#main{
    width:50%;
    float:left;
}

.intro{
    width:100%;
    overflow:hidden;
    border:3px solid #ffffff;
    box-shadow:0 0 5px #000000;
    margin-left:1px;
    border-radius:10px;
    background:url(images/background.png) no-repeat;
    background-size:cover;
}

.content{
    width:50%;
    float:left;
}

#contentImage{
    margin:5px 5px 0 5px; 
}

#contentText{
    margin-left:10px;
    font-size:25px;
    color:#ffffff;
}

#quoteSymbol{
    margin-left:10%;
    margin-right:-50%;
}

#quoteText{
    font-family:serif; 
    margin-left:-50%;
    font-size:30px;
    color:#000000;
    margin-bottom:0;
}

#b-m-s{
    float:right; 
    font-size:25px; 
    margin-right:10%; 
    font-style:italic; 
    margin-top:0;
}

.projects{
    margin-top:0;
    width:100%;
    overflow:hidden;
}

.heading{
    overflow:hidden;
    background:url(images/background3.jpg) no-repeat;
    padding:1%;
    margin-top:2%;
    margin-bottom:2%;
    border-radius:10px;
}

.heading h1{
    float:center;
    width:auto;
    background:url(images/heading_background.jpg) no-repeat;
    background-size:cover;
    color:#ffffff;
    border-radius:10px;
    padding:1.5% 1% 1.5% 2%;
    margin:2% 1% 2% 1%;
    font-size:40px;
}

.heading li{
    font-family:serif;
    list-style:none;
    display:inline;
    font-size:20px;
    background:url(images/heading_background.jpg) no-repeat;
    background-size:cover;
    color:#ffffff;
    border-radius:10px;
    padding:1% 1.5%;
    margin-right:1%;
}

.heading a{
    text-decoration:none;
    color:#ffffff;
}

.heading a li:hover{
    box-shadow:0 0 10px #ffffff;
}

.heading ul{
    padding:0;
    margin:3% 3% 3% 1%;
}

#project_element1{
    margin-top:0;
    width:cover;
    background:url(images/background3.jpg) no-repeat;
    background-size:cover;
    color:#ffffff;
    border-radius:10px;
    padding:1.5% 2% 1.5% 2%;
}

#project_element1 h3{
    width:30%;
    background:url(images/heading_background.jpg) no-repeat;
    padding:1% 2%;
    margin:2% 0 1% 0;
    font-size:40px;
    border-radius:10px;
}

#project_element1 p{
    font-family:serif;
    font-size:20px;
}

.slider{
    float:left;
    margin-top:2%;
    margin-bottom:2%; 
    border-radius:10px;
    width:60.5%;
    height:auto;
    display:flex;
    overflow:auto;
    border-style:none;
    animation-fill-mode:forwards; 
}

.slide{
    width:auto;
    flex-shrink:0;
    height:auto;
}

.sideContent{
    width:38.5%;
    float:left;
    margin-top:2%;
    margin-left:1%;
    border-radius:10px;
    background:url(images/background.png) no-repeat;
    background-size:cover;
    height:350px;
}

.sideContent p{
    font-family:serif;
    color:#ffffff;
    font-size:30px;
    padding:1% 4%;
}

#map{
    width:1147px;
    height:500px;
}

#message{
    font-family:serif;
    font-size:30px;
    color:#ffffff;
    margin-top:2%;
    margin-bottom:2%;
    border-radius:10px;
    background:url(images/background.png) no-repeat;
    padding:5px 20px;
    overflow:hidden; 
}

#p-u-n{
    width:40%; 
    float:left; 
    overflow:hidden;
}

#p-u-w{
    margin-top:70px; 
    font-size:25px;
}

#message ul{
    margin-top:40px;
    margin-bottom:-30px;
}

#message li{
    display:inline;
}

#message img{
    border-radius:20px;
    box-sizing:border-box;
    transition:0.5s;
}

#message img:hover{
    box-sizing:border-box;
    transform:scale(1.3, 1.3);
    transition:0.05s;
    border:2px solid #ffffff;
}

#b-m-0 p{
    font-size:25px;
    width:100%;
}

#b-m-0 a{
    color:#ffff00; 
    text-decoration:none; 
    border:1px solid #ffffff; 
    border-radius:5px; 
    padding:5px 10px;
}

#b-m-0 a:hover{
    background:rgba(255, 255, 255, 0.5);
}


@media(max-width:768px){
    
    body{
        margin:auto; 
        width:100%;
    }
    
    .name_heading{
        overflow:hidden;
        width:100%;
        padding:0;
        margin-top:10px; 
    }
    
    #nameSpace{
        width:55%;
        float:left;
        padding:2% 5%;
    }
    
    #nameSpace h1{
        font-size:70%;
        width:100%;
    }

    #redirect{
        width:35%;
        margin-left:0;
        margin-right:0;
        float:left;
        margin-top:1%;
    }
    
    #redirect img{
        width:15%;
        height:auto;
    }
    
    .intro{
        width:97%;
        border-radius:0;
    }
    
    .content{
        width:100%;
    }
    
    #contentImage img{
        border-radius:5px;
    }
    
    #contentText{
        width:cover;
        margin:10px;
        text-align:center;
    }
    
    #main{
        width:100%;
    }
    
    #quoteSymbol{
        margin:10px 0 0 0;
        width:200px;
    }
    
    #quoteText p{
        text-align:center;
        margin-top:0;
        margin-left:42%;
        width:50%;
        font-size:20px;
    }
    
    #b-m-s{
        font-size:15px;
        margin-top:-10px;
    }
    
    .heading{
        border-radius:0;
    }
    
    .heading h1{
        font-size:30px;
    }
    
    .heading ul{
        display:list-item;
        margin-top:10px;
        margin-bottom:10px;
    }
    
    .heading li{
        display:list-item;
        padding:5px 10px;
        font-size:15px;
        margin:5px 0 5px 0;
    }
    
    #project_element1{
        border-radius:0;
    }
    
    #project_element1 h3{
        font-size:30px;
    }
    
    .slider{
        width:100%;
        height:200px;
        border-radius:0;
    }
    
    .slider img{
        height:200px;
        width:auto;
    }
    
    .sideContent{
        margin:0 0 10px 0;
        width:100%;
        border-radius:0;
    }
    
    #p-u-n{
        width:100%;
        overflow:hidden; 
    }
    
    #message{
        border-radius:0;
    }
    
    #message ul{
        margin:0;
        padding:0;
    }
    
    #p-u-w{
        margin:0;
    }
    
    #b-m-0 a{
        margin:0;
        border:0 solid;
    }
    
    #map{
        margin:0;
        width:100%;
        height:400px;
    }
    
    
}






